#userFeed {
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
}


.imageBox {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid rgb(199, 115, 5);
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}

.postAuthorName {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.postAuthor {
    font-size: 15pt;
    border: 2px solid rgb(199, 115, 5);
    outline: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 5px;
}

.editPostButton {
    width: 45%
}

.deletePostButton {
    width: 45%
}

.postTimeStamp {
    display: flex;
    justify-content: center;
    margin: 5px;
    height: 25px;
}

.postTime {
    color: white;
    border: 2px solid rgb(199, 115, 5);
    border-radius: 10px;
    padding: 1px 6px;

}

.image {
    height: 70%;
    width: 100%;
    
}

img {
    width: 100%;
    height: 100%;
    border: 2px solid rgb(199, 115, 5);
    border-radius: 10px;
}

.postInfo {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
}

.likeInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.likeButton {
    width: 50%;
}

.unlikeButton {
    width: 50%;
}

.otherInfo { 
    display: flex;
    width: 100%;
}

.numLikesButton {
    width: 50%;
}


.commentButton {
    width: 50%;
}

.postDescription {
    height: auto;
    width: 100%;
    color: white;
    border: 2px solid rgb(199, 115, 5);
    padding: 1px 6px;
    border-radius: 10px;
    box-sizing: border-box;
}



/* The Modal (background) */
.modal {
    display: none; 
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid rgb(199, 115, 5);
    position: fixed; 
    z-index: 1; 
    margin-left: calc((100% - 380px)/2);
    margin-right: calc((100% - 380px)/2);
    margin-top: 200px;
    left: 20;
    top: 20;
    width: 380px; 
    height: 390px; 
    overflow: auto; 
    background-color: rgb(0,0,0);
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgb(0, 0, 0);
    margin: 10% auto; 
    padding: 20px;
    width: 80%; 
    border: 2px solid rgb(199, 115, 5);
    border-radius: 10px;
  }

  p {
      color: white;
  }

  .modalWindow {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(59, 59, 59, 0.4)
  }
  
  /* The Close Button */
  .close {
    display: flex;
    justify-content: center;
    color: white;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }

  .commentDiv {
      border: 2px solid rgb(199, 115, 5);
      border-radius: 10px;
      margin: 10px;
      padding: 5px;
  }

  .commentHeader {
      background-color: black;
      margin: 0px;
  }

  @media (max-width: 500px) {
      .imageBox {
          width: 350px
      }
  }
