.topMenuBar {
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



#editMyProfile {
    display: none;
}

@media (max-width: 500px) {
    .menuButtons {
        font-size: 10pt;
    }
    .menuButtons:hover {
        font-size: 11pt;
    }
}