html, body {
    margin: 0px;
    padding: 0px;

}

* {
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subContainer {
    width: 410px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.76);
    padding: 20px;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(255, 255, 255);
    margin: 10px;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginAndRegisterButtons, .menuButtons, .editPostButton, .deletePostButton, .likeButton, .unlikeButton, .numLikesButton, .commentButton {
    height: 40px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    cursor: pointer;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    border: 0;
    outline: none;
    font-size: 12pt;
}

.loginAndRegisterButtons:hover, .menuButtons:hover, .editPostButton:hover, .deletePostButton:hover, .likeButton:hover, .unlikeButton:hover,.numLikesButton:hover, .commentButton:hover {
    background: linear-gradient(to right, #ffad06, #ff105f);
    font-size: 13pt;
}
 

 