html, body {
    margin: 0px;
    padding: 0px;

}

* {
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subContainer {
    width: 410px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(255, 255, 255);
    margin: 10px;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginAndRegisterButtons {
    height: 40px;
    margin: 5px;
}

 